<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="E:\Projects\Portfolio_Alex_King\app\static\css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:wght@500&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body class="contact">
    <!-- Navbar section -->
    <nav class="navbar">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href=".\resources.html">Resources</a></li>
            <li><a href=".\contact.html">Contact</a></li>
        </ul>
    </nav>

    <!-- Contact form section -->
        <h1>Contact Me</h1>
        <h2>Email</h2>
            <p>alexkingaus99@gmail.com</p>
        <h2>Phone</h2>
            <p>0448030034</p>
</body>
</html>
